label{
    color: #4e3620;
}
#contact-form{
    margin-top: 50px;
    border: 2px solid #4e3620;
    border-radius: 1em;
    /* width:400px; */
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
}
.send-button{
    color: white !important;
    border-radius: 1em;
    text-decoration: none;
    padding: 7px 17px;
    width: 100%;
    font-weight: 700;
    background-color: #4e3620 !important;
}
.food-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}