.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(230, 230, 230);
}
.logo{
    margin-left: 20px;
}
.bud{
    color: #f54748;
}
.nav-link{
    display: flex !important;
}
.nav-link li{
    margin-right: 40px;
    list-style: none;
}
.nav-link li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}
.nav-link li a:hover{
    color: #4e3620;
}

/* media query */
@media only screen and (max-width: 600px){
    .logo{
        margin: 0;
    }
    .nav-link li{
        margin-right: 13px;
    }
    .nav-link li a{
        font-size: 15px;
    }
}