.checkout-section{
    width: 80%;
    margin: 40px auto;
}
.edit-delivery{
    margin: 15px;
    text-align: center;
}
.form{
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 7px 7px 30px rgb(165, 165, 165);
}
.text, .txt-msg{
    width: 100%;
    padding: 10px;
    background-color: rgb(226, 226, 226);
    border: none;
}
.checkout-btn{
    border: 1px solid #69306d;
    color: #150303;
    background: none;
    text-transform: normal;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
    transition: all .4s ease-out 0s;
}
.checkout-btn:hover{
    color: #fff;
    box-shadow: inset 300px 0 0 0 #69306d;
}