.menu{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 70px;
    width: 71%;
    margin: 50px auto;
}

.order-text{
    margin-top: 20px;
    text-align: center;
}
.menu-btn-section{
    text-align: center;
}
.menu-btn{
    padding: 13px 40px;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 17px;
    font-weight: bolder;
    border: none;
    background-color: #fff;
    border-bottom: 3px solid #4e3620;
    cursor: pointer;
}
.menu-btn:hover{
    box-shadow: 3px 3px 10px rgb(129, 129, 129);;
}
/* media query */
@media only screen and (max-width: 600px){
    .menu-btn{
        padding: 10px 20px;
        margin-left: 10px;
        font-size: 15px;
    }
    .menu{
        grid-template-columns: repeat(1, 100%);
    }
}